<app-project-details imageSrc="assets/img/work-with-me-here/main.png"
    imageAlt="Screenshot of the Work With Me Here main menu" [tags]="['c#', 'unity', 'game']"
    githubUrl="https://github.com/JMHeartley/Work-With-Me-Here"
    demoUrl="https://jmheartley.itch.io/work-with-me-here-full-game">
    <ul class="fs-4">
        <li class="pb-4">A short game about working from home while trying to keep your excited dog at bay; takes place
            during the 2020 pandemic lockdown</li>
        <li class="pb-4">Created during a game jam by Team Toffee (named after the dog), of which I was
            the programmer</li>
        <li class="pb-4">Browser games made with Unity don't usually work well with the browser I coded my way to a
            solution</li>
    </ul>
    <p class="text-center fst-italic px-5">
        <a href="https://github.com/JMHeartley/dreamlo.js#readme" target="_blank"
            class="text-secondary text-hover-white text-decoration-none">
            Want to check it out? Play it right now on itch.io
        </a>
    </p>
    <div class="text-center pt-5">
        <p class="lead">
            Having to work at home during the pandemic isn't supposed to be exciting, but for Toffee the Dog it is!
            It means his owner will be home all day!
        </p>
        <img src="assets/img/work-with-me-here/toffee.png" alt="Toffee the Dog" class="img-fluid rounded">
        <p class="fst-italic fw-bold fs-5">
            Maybe if I cause trouble Master will play with me...
            <br>
            I know! I'll chew on that wire he doesn't like me touching!
        </p>
    </div>
</app-project-details>