<app-project-details [imageSrc]="this.bannerFilePath" [imageAlt]="this.bannerAltText" [tags]="this.tags"
    githubUrl="https://github.com/JMHeartley/PicsOfUs">
    <ul class="fs-4">
        <li class="pb-4">A photo gallery only available to invited users</li>
        <li class="pb-4">Uses Microsoft Azure's Face API for facial detection and recognition</li>
        <li class="pb-4">Faces are used to create family members; fill in details to build/view family trees</li>
    </ul>
    <p class="text-center fst-italic px-5">
        <a href="https://github.com/JMHeartley/PicsOfUs#readme" target="_blank"
            class="text-secondary text-hover-white text-decoration-none">
            Check out GitHub for background information and a detailed explanation of PicsOfUs.
        </a>
    </p>
    <div class="text-center pt-5">
        <h5>Architecture Breakdown</h5>
        <img src="assets/img/picsofus/architecture.png" alt="PicsOfUs architecture diagram" class="img-fluid rounded">
    </div>
</app-project-details>