<app-project-details [imageSrc]="this.bannerFilePath" [imageAlt]="this.bannerAltText" [tags]="this.tags"
    githubUrl="https://github.com/JMHeartley/dreamlo.js" npmUrl="https://www.npmjs.com/package/dreamlo.js"
    demoUrl="https://jmheartley.github.io/dreamlo.js/">
    <ul class="fs-4">
        <li class="pb-4">dreamlo.js is a library for creating, retreiving, updating, and deleting scores from a dreamlo
            leaderboard
        </li>
        <li class="pb-4">dreamlo UI allows anyone to use dreamlo.js without having any of the implementation logic in
            place
        </li>
    </ul>
    <p class="text-center fst-italic px-5">
        <a href="https://github.com/JMHeartley/dreamlo.js#readme" target="_blank"
            class="text-secondary text-hover-white text-decoration-none">
            Check out the documentation on GitHub for a detailed explanation and breakdown.
        </a>
    </p>
    <div class="text-center pt-5">
        <h5>Can you climb to the top?</h5>
        <a href="https://jmheartley.github.io/Tic-Tac-Toe/" target="_blank"
            class="text-secondary text-hover-white text-decoration-none fw-bold">
            <p class="px-2">Using dreamlo.js, I added a leaderboard to an old tic-tac-toe project of mine for
                consecutive wins against the CPU. Can you beat my high score?</p>
        </a>
        <img src="assets/img/dreamlo.js/tic-tac-toe.png" alt="Let's Play Some Tic-Tac-Toe!" class="img-fluid rounded">
    </div>
</app-project-details>