<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 theme-header">
            4
            <span class="theme-special">0</span>
            4
        </h1>
        <figure>
            <blockquote class="blockquote">
                <p>“You are free and that is why you are lost.”</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Franz Kafka
            </figcaption>
        </figure>
        <br>
        <a routerLink="/" class="btn theme-btn">Become Found</a>
    </div>
</div>