<div class="row p-3">
    <a *ngFor="let project of this.projectsWithMatchingTag"
        class="row g-0 my-3 text-reset text-decoration-none theme-card rounded overflow-hidden col-10 offset-1 col-md-12 offset-md-0 col-lg-10 offset-lg-1"
        [routerLink]="project.absoluteUrl">
        <img [src]="project.bannerFilePath" [alt]="project.bannerAltText" class="image-fluid col col-sm-4">
        <div class="col d-flex flex-column px-3 py-2">
            <p class="flex-grow-1 fs-sm-5 fs-xxl-4">{{project.description}}</p>
            <small class="fs-lg-6" [innerHTML]="this.tagFilter
                ? project.tags.join(', ').replace(this.tagFilter, '<em>' + this.tagFilter + '</em>')
                : project.tags.join(', ')"></small>
        </div>
    </a>
</div>