<app-project-details [imageSrc]="this.bannerFilePath" [imageAlt]="this.bannerAltText" [tags]="this.tags"
    githubUrl="https://github.com/JMHeartley/dTree-Seed" npmUrl="https://www.npmjs.com/package/dtree-seed">
    <ul class="fs-4">
        <li class="pb-4">Converts a list of family members into a hierarchical family tree data structure</li>
        <li class="pb-4">Dynamically carries over specified details</li>
        <li class="pb-4">Serves as a pre-processor for dTree, a library for displaying family trees</li>
    </ul>
    <p class="text-center fst-italic px-5">
        <a href="https://github.com/JMHeartley/dTree-Seed#readme" target="_blank"
            class="text-secondary text-hover-white text-decoration-none">
            Check out the documentation on GitHub for a detailed explanation and breakdown.
        </a>
    </p>
    <div class="d-flex flex-column flex-md-row justify-content-between text-center pt-5">
        <div class="flex-fill p-3">
            <h5>Before</h5>
            <img src="assets/img/dtree-seed/before.png" alt="Data before using dTree-Seed" class="img-fluid rounded">
        </div>
        <div class="flex-fill p-3">
            <h5>After</h5>
            <img src="assets/img/dtree-seed/after.png" alt="Data after using dTree-Seed" class="img-fluid rounded">
        </div>
    </div>
</app-project-details>