<app-project imageSrc="assets/img/dtree-seed/main.png" imageAlt="dTree-Seed Logo"
    [tags]="['open-source', 'typescript', 'javascript', 'tdd', 'mocha', 'chai']" githubUrl="#github" npmUrl="#npm"
    demoUrl="#demo">
    <ul class="fs-4">
        <li>Converts a list of family members into a hierarchical family tree data structure</li>
        <br>
        <li>Dynamically carries over specified details</li>
        <br>
        <li>Serves as a pre-processor for dTree, a library for displaying family trees</li>
        <br>
    </ul>
    <p class="text-center fst-italic px-5">
        <a href="#" target="_blank" class="text-secondary text-hover-white text-decoration-none">
            Check out the documentation on GitHub for a detailed explanation and breakdown.
        </a>
    </p>
    <div class="d-flex flex-column flex-md-row justify-content-between text-center">
        <div class="flex-fill p-3">
            <h5>Before</h5>
            <img src="assets/img/dtree-seed/before.png" alt="" class="img-fluid rounded">
        </div>
        <div class="flex-fill p-3">
            <h5>After</h5>
            <img src="assets/img/dtree-seed/after.png" alt="" class="img-fluid rounded">
        </div>
    </div>
</app-project>