<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand theme-link-special fw-bold" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Justin's Portfol.io</a>
        <button class="navbar-toggler btn theme-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-md-auto text-center">
                <li class="nav-item my-3 my-md-0 ms-md-3">
                    <a class="nav-link theme-link fs-xs-1 fs-md-6" aria-current="page" routerLink="/projects"
                        routerLinkActive="active">Projects</a>
                </li>
                <li class="nav-item my-3 my-md-0 ms-md-3">
                    <a href="https://github.com/JMHeartley" target="_blank"
                        class="nav-link theme-link fs-xs-1 fs-md-6">About</a>
                </li>
                <li class="nav-item my-3 my-md-0 ms-md-3">
                    <a href="https://docs.google.com/document/d/1o77QqBSKMk6ecvIKQ6PlXAeHmQTKQj60vWjO9oNSVEE"
                        target="_blank" class="nav-link theme-link fs-xs-1 fs-md-6">Resume</a>
                </li>
                <li class="nav-item my-3 my-md-0 ms-md-3">
                    <a class="btn theme-btn fs-xs-1 fs-md-6"
                        href="mailto:heartleyjm@gmail.com?subject=Portfolio%20Inquiry&body=Hi%20Justin%2C%0A%0AI%20saw%20your%20portfolio%20and%20wanted%20to%20reach%20out%20because...">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>