<div class="py-3 fs-2 d-flex justify-content-evenly align-items-center">
    <a routerLink="/" routerLinkActive="pb-3" [routerLinkActiveOptions]="{exact: true}" class="text-decoration-none"
        data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
        🏠
    </a>
    <a routerLink="/dtree-seed" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="dTree-Seed">
        🌰
    </a>
    <a routerLink="/picsofus" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="PicsOfUs">
        🖼️
    </a>
    <a routerLink="/dreamlo.js" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="dreamlo.js">
        🏆
    </a>
    <a routerLink="/work-with-me-here" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Work With Me Here">
        🐕
    </a>
    <a routerLink="/meet-justin" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Meet Justin">
        👨🏽‍💻
    </a>
</div>