<div class="py-3 fs-2 d-flex justify-content-evenly align-items-center">
    <a routerLink="/" routerLinkActive="pb-3" [routerLinkActiveOptions]="{exact: true}" class="text-decoration-none"
        data-bs-toggle="tooltip" data-bs-placement="top" title="Home">
        <img src="assets/img/house.png" alt="house emoji" class="img-fluid" style="height: 3rem;">
    </a>
    <a routerLink="/dtree-seed" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="dTree-Seed">
        <img src="assets/img/chestnut.png" alt="seed emoji" class="img-fluid" style="height: 3rem;">
    </a>
    <a routerLink="/picsofus" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="PicsOfUs">
        <img src="assets/img/framed-picture.png" alt="framed picture emoji" class="img-fluid" style="height: 3rem;">
    </a>
    <a routerLink="/dreamlo.js" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="dreamlo.js">
        <img src="assets/img/trophy.png" alt="trophy emoji" class="img-fluid" style="height: 3rem;">
    </a>
    <a routerLink="/work-with-me-here" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Work With Me Here">
        <img src="assets/img/dog.png" alt="dog emoji" class="img-fluid" style="height: 3rem;">
    </a>
    <a routerLink="/meet-justin" routerLinkActive="pb-3" class="text-decoration-none" data-bs-toggle="tooltip"
        data-bs-placement="top" title="Meet Justin">
        <img src="assets/img/justin-emoji.png" alt="Justin as an emoji" class="img-fluid" style="height: 3rem;">
    </a>
</div>