<div class="container d-flex flex-column vh-100 max-vh-100">
    <div class="row overflow-auto overflow-lg-hidden flex-grow-1">
        <div class="col-12 col-lg-7 d-flex flex-column pt-5 vh-lg-100">
            <div class="flex-grow-1">
                <img src="{{this.imageSrc}}" alt="{{this.imageAlt}}"
                    class="img-fluid border border-2 border-white rounded">
                <div class="col-12 text-center row g-0">
                    <div
                        class="col-12 col-lg-8 px-2 pt-1 pt-lg-0 d-flex justify-content-center align-items-center text-secondary">
                        {{this.tags.join(', ')}}
                    </div>
                    <div
                        class="col-8 offset-2 col-lg-4 offset-lg-0 p-4 p-lg-0 d-flex justify-content-evenly align-items-center">
                        <a *ngIf="this.githubUrl" href="{{this.githubUrl}}" target="_blank"
                            class="text-secondary text-hover-white text-decoration-none fs-3 py-1">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a *ngIf="this.npmUrl" href="{{this.npmUrl}}" target="_blank"
                            class="text-secondary text-hover-white text-decoration-none fs-1">
                            <i class="fa-brands fa-npm"></i>
                        </a>
                        <a *ngIf="this.demoUrl" href="{{this.demoUrl}}" target="_blank"
                            class="text-secondary text-hover-white text-decoration-none fs-4 py-1">
                            <i class="fa-solid fa-desktop"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block">
                <app-navigation></app-navigation>
            </div>
        </div>
        <div class="col-12 col-lg-5 max-vh-lg-100 pt-lg-5 overflow-lg-auto scrollbar-hidden">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="d-lg-none">
        <app-navigation></app-navigation>
    </div>
</div>