/* 
   Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap 
*/
:root {
    --theme-teal-light: #89D7CB;
    --theme-teal-medium: #50B8B6;
    --theme-teal-dark: #1A8893;
    --theme-light: #FFFFFF;
    --theme-dark: #12141A;
    --theme-drop-shadow: 0 0 0.5rem var(--theme-teal-light);
    --theme-box-shadow: 0 0 1.5rem 0.25rem var(--theme-teal-light);
}

.theme-bg-dark {
    background-color: var(--theme-dark) !important;
}

.theme-card {
    background-color: var(--theme-teal-dark) !important;
}

.theme-card:hover {
    background-color: var(--theme-teal-light) !important;
    box-shadow: var(--theme-box-shadow) !important;
}

.theme-card p {
    color: var(--theme-light) !important;
}

.theme-card:hover p {
    color: var(--theme-dark) !important;
}

.theme-card small {
    color: var(--theme-teal-light) !important;
}

.theme-card:hover small {
    color: var(--theme-teal-dark) !important;
}

.theme-link {
    color: var(--theme-teal-dark) !important;
}

.theme-link-special {
    color: var(--theme-teal-medium) !important;
}

.theme-link:hover,
.theme-link-special:hover,
.theme-link.active {
    color: var(--theme-teal-light) !important;
    filter: drop-shadow(var(--theme-drop-shadow)) !important;
}

.theme-btn {
    background-color: var(--theme-teal-dark) !important;
    color: var(--theme-light) !important;
}

.theme-btn:hover,
.theme-btn.active {
    background-color: var(--theme-teal-light) !important;
    filter: drop-shadow(var(--theme-drop-shadow)) !important;
    color: var(--theme-dark) !important;
}

.theme-text-light {
    color: var(--theme-light) !important;
}

.theme-text-special {
    color: var(--theme-teal-medium) !important;
}

.theme-text-header {
    color: var(--theme-teal-light) !important;
}

.bg-mountains-1 {
    background-image: url(assets/img/mountains-1.png) !important;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.max-vh-100 {
    max-height: 100vh !important;
}

.text-hover-white:hover {
    color: #fff !important;
}

.image-fluid {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .fs-sm-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-sm-2 {
        font-size: calc(1.325rem + .9vw) !important;
    }

    .fs-sm-3 {
        font-size: calc(1.3rem + .6vw) !important;
    }

    .fs-sm-4 {
        font-size: calc(1.275rem + .3vw) !important;
    }

    .fs-sm-5 {
        font-size: 1.25rem !important;
    }

    .fs-sm-6 {
        font-size: 1rem !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .fs-md-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-md-2 {
        font-size: calc(1.325rem + .9vw) !important;
    }

    .fs-md-3 {
        font-size: calc(1.3rem + .6vw) !important;
    }

    .fs-md-4 {
        font-size: calc(1.275rem + .3vw) !important;
    }

    .fs-md-5 {
        font-size: 1.25rem !important;
    }

    .fs-md-6 {
        font-size: 1rem !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .vh-lg-100 {
        height: 100vh !important;
    }

    .overflow-lg-hidden {
        overflow: hidden !important;
    }

    .max-vh-lg-100 {
        max-height: 100vh !important;
    }

    .overflow-lg-auto {
        overflow: auto !important;
    }

    .fs-lg-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-lg-2 {
        font-size: calc(1.325rem + .9vw) !important;
    }

    .fs-lg-3 {
        font-size: calc(1.3rem + .6vw) !important;
    }

    .fs-lg-4 {
        font-size: calc(1.275rem + .3vw) !important;
    }

    .fs-lg-5 {
        font-size: 1.25rem !important;
    }

    .fs-lg-6 {
        font-size: 1rem !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .fs-xl-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-xl-2 {
        font-size: calc(1.325rem + .9vw) !important;
    }

    .fs-xl-3 {
        font-size: calc(1.3rem + .6vw) !important;
    }

    .fs-xl-4 {
        font-size: calc(1.275rem + .3vw) !important;
    }

    .fs-xl-5 {
        font-size: 1.25rem !important;
    }

    .fs-xl-6 {
        font-size: 1rem !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
    .fs-xxl-1 {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .fs-xxl-2 {
        font-size: calc(1.325rem + .9vw) !important;
    }

    .fs-xxl-3 {
        font-size: calc(1.3rem + .6vw) !important;
    }

    .fs-xxl-4 {
        font-size: calc(1.275rem + .3vw) !important;
    }

    .fs-xxl-5 {
        font-size: 1.25rem !important;
    }

    .fs-xxl-6 {
        font-size: 1rem !important;
    }
}