:root {
    --theme-teal-light: #89D7CB;
    --theme-teal-dark: #1A8893;
    --theme-light: #FFFFFF;
    --theme-gray: #E5E5E5;
    --theme-dark: #12141A;
    --theme-drop-shadow: 0 0 0.5rem var(--theme-teal-light);
    --theme-box-shadow: 0 0 1.5rem 0.25rem var(--theme-teal-light);
}

.theme-bg {
    background-color: var(--theme-dark) !important;
}

.theme-card {
    background-color: var(--theme-teal-dark) !important;
}

.theme-card:hover {
    background-color: var(--theme-teal-light) !important;
    box-shadow: var(--theme-box-shadow) !important;
}

.theme-card p {
    color: var(--theme-light) !important;
}

.theme-card:hover p {
    color: var(--theme-dark) !important;
}

.theme-card small {
    color: var(--theme-teal-light) !important;
}

.theme-card:hover small {
    color: var(--theme-teal-dark) !important;
}

.theme-btn {
    background-color: var(--theme-teal-dark) !important;
    color: var(--theme-light) !important;
}

.theme-btn:hover,
.theme-btn.active {
    background-color: var(--theme-teal-light) !important;
    filter: drop-shadow(var(--theme-drop-shadow)) !important;
    color: var(--theme-dark) !important;
}

.theme-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.theme-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset var(--theme-drop-shadow);
    background-color: var(--theme-teal-dark);
}

.theme-scrollbar::-webkit-scrollbar-thumb:hover,
.theme-scrollbar::-webkit-scrollbar-thumb:active {
    box-shadow: var(--theme-drop-shadow);
    background-color: var(--theme-teal-light);
}

.theme-header {
    color: var(--theme-light) !important;
    margin-bottom: 1rem !important;
}

.theme-special {
    color: var(--theme-teal-light) !important;
}

.theme-special-link {
    color: var(--theme-teal-light) !important;
}

.theme-text-link {
    text-decoration-color: var(--theme-teal-dark) !important;
    text-decoration-thickness: 0.125rem !important;
    text-underline-offset: 0.1875rem !important;
}

.theme-text-link:hover {
    text-decoration-color: var(--theme-teal-light) !important;
}

.theme-text,
.theme-text-link {
    color: var(--theme-gray) !important;
    font-size: 1.125rem !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .theme-text,
    .theme-text-link {
        font-size: 1rem !important;
    }
}

.theme-link {
    color: var(--theme-teal-dark) !important;
}

.theme-link:hover,
.theme-special-link:hover,
.theme-link.active,
.theme-text-link:hover {
    color: var(--theme-teal-light) !important;
    filter: drop-shadow(var(--theme-drop-shadow)) !important;
}