<div class="vh-100 max-vh-100 overflow-auto overflow-lg-hidden scrollbar-hidden flex-grow-1">
    <div class="container">
        <div class="vh-100 position-relative">
            <div class="position-absolute bottom-50">
                <p class="display-1">Hi, I'm Justin!</p>
                <p class="lead">I turn ideas into reality with code.</p>
            </div>
            <p class="position-absolute bottom-0 w-100 text-center">Check out my work 👇🏼</p>
        </div>
        <app-project-list></app-project-list>
    </div>
</div>