<div class="vh-100 max-vh-100 overflow-auto overflow-lg-hidden scrollbar-hidden flex-grow-1 bg-mountains"
    #scrollingElement [appVerticalParallax]="scrollingElement">
    <div class="container">
        <div class="vh-100 position-relative theme-header">
            <div class="position-absolute bottom-50">
                <div class="d-flex align-items-center">
                    <span class="display-1">
                        <span id="hi">
                            Hi.
                        </span>
                        <span id="justin">
                            I'm
                            <span class="theme-special">Justin</span>.
                        </span>
                    </span>
                </div>
                <p class="lead" id="subtitle">I write software.</p>
            </div>
            <div class="position-absolute bottom-0 w-100 text-center">
                <div id="check-out">
                    Check out my
                    <span class="theme-special">portfol.io</span>
                </div>
                <div id="arrow">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <app-project-list [timeline]="this.timeline"></app-project-list>
    </div>
</div>