<div class="vh-100 max-vh-100 overflow-auto overflow-lg-hidden scrollbar-hidden flex-grow-1">
    <div class="container">
        <div class="vh-100 position-relative">
            <div class="position-absolute bottom-50">
                <div class="d-flex align-items-center">
                    <p class="display-1">Hi, I'm Justin!
                    </p>
                    <img src="assets/img/justin-emoji.png" alt="Justin as an emoji" class="img-fluid px-3"
                        style="height: calc(1.625rem + 4.5vw);">
                </div>
                <p class="lead">I turn ideas into reality with code.</p>
            </div>
            <p class="position-absolute bottom-0 w-100 text-center">
                Check out my work
                <br>
                <img src="assets/img/hand-pointing-down.png" alt="hand pointing down emoji" style="height: 1.5rem;">
            </p>
        </div>
        <app-project-list></app-project-list>
    </div>
</div>